* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(
      0deg,
      rgba(31, 0, 18, 0.77),
      rgba(31, 0, 18, 0.77)
    ),
    url('/background.jpg');
  background-size: cover;
}

.header {
  background-color: rgb(34, 1, 18);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 1rem;
}
.header__title {
  color: #fff;
  font-size: 3rem;
}
.header__title span {
  color: rgb(206, 5, 109);
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 40vh;
  gap: 8rem;
  padding: 1rem;
}

.main__container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  gap: 3rem;
}
